.date__wrapper{
    margin: 2% 0;

    width: auto;
    align-self:var(--dateFullSelfAlign);

}
.date__label{
    text-transform: uppercase;
    font-weight: 600;
font-size: 1.5em;
    color: #555555;

    letter-spacing: .1em;
    margin-right: 5vw;

}

.date__full{
    background-image: url("/public/img/kalendarz_icon_black.png");
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: 95% center;


    height: 50px;
    min-width: 200px;

    border: 2px solid #c4c4c4;
    border-radius: 10px;

box-sizing: content-box;
    /* margin-left: 5%; */
}


.date__wrapper--days{
    align-self: center;
    /* flex-wrap: wrap; */


}
.date__wrapper--hours{
    margin-bottom: 3%;
}

.date__wrapper--wrap{
    flex-wrap: wrap;
    height: 80px;

    overflow: hidden;

    margin:0;

}
.date__wrapper--auto{
    width:auto;
}

.date__wrapper--day{
    /* flex-grow: 1; */
    /* justify-content: space-between; */
    height: 80px;
    width: 70px;
    margin:0 15px;

    overflow: hidden;

    border: 2px solid #c4c4c4;
    border-radius: 10px;

    
}
.date__wrapper--day:hover, .date__wrapper--hour:hover{
    border-color:#c42776;;

}
.date__day{
    text-transform: uppercase;
    /* margin:15px; 
    */
    padding: 5px;
}

.date__button{
    background-image: url("/public/img/arrow--black--small.png");
    height: 20px;
    width: 10px;
    min-width: 10px;


    background-color: transparent;
    border: none;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    transform: rotate(-180deg);


}

.date__button--last{
    background-image: url("/public/img/arrow--grey--small.png");


}

/* hours */
.date__wrapper--wrap--hours{
    height: 50px;


}
.date__wrapper--hour{
    /* flex-grow: 1; */
    /* justify-content: space-between; */
    width: 70px;
    height: 50px;
    margin:0 15px;

    overflow: hidden;

    border: 2px solid #c4c4c4;
    border-radius: 10px;

    
}
.date__hour{
    width: 70px;
    height: 50px;
    padding: 5px;
}

