.register__section--fifth{
    text-align: left;
}

.register__section--fifth table{
    border-spacing:0 15px;
    margin-bottom: 50px;
}

.details__button{
    height: 40px;
    border:solid 2px #a83671;
    color: #a83671;
    background-color: transparent;
    width: var(--detailsBtnWidth);
    
    border-radius: 5px;

    font-weight: 600;
    text-transform: uppercase;
    
    align-self: flex-start;


    margin-bottom: 50px;
}