.register{
   
    width: 100vw;
     min-width: var(--minWidth);
    min-height: var(--minHeight);

    background-color: white;
       /* flex C */

}
.header{
    width: 100%;
    /* flex C */
    justify-content: center;
    white-space: nowrap;

}
.header__black--wrapper{
    height: 35px;

     /* flex C */

     justify-content: space-between;
     align-items: center;
}


/* black header */
.header__black{
    width: 100%;
   
    background-color: #222222;
    color: white; 
    justify-content: center;
    align-items: center;
}
.header__phone{

}
.header__profile{
    /* order:2; */
}
.header__adress{
}


/* gray header */
.header__gray{
   height: 65px;

   width: 100%;
   background-color: #4c4c4c;
   color: white;

    /* flex C */
    justify-content: space-around;
    align-items: center;
}

.header__img{
    height: 55%;
    width: auto;
}
.header__h3{
    text-transform: uppercase;
    font-weight: 400;
}


/* main form */
.form{
    background-color: #fff;
}
.form__button{
    text-transform: uppercase;
    width: 100%;
}