
.header{
    width: 100%;
    /* flex C */
    justify-content: center;
    white-space: nowrap;

}



/* black header */
.header__black{
    width: 100%;
    min-height: 30px;

    font-size: .7em;
   
    background-color: #222222;
    color: white; 
    justify-content: center;
    align-items: center;
}
.header__black--wrapper{
    height: 100%;
     /* flex C */

     justify-content: space-between;
     align-items: center;
}
.header__ico{
    font-size: 1.2em;
    margin-right: 5px;
}

.header__media{
    width: 20%;
    justify-content: space-between;

}

.header__phone{

}
.ico__phone{
    transform: rotate(-265deg);
}
.header__profile{
    /* order:2; */
}
.header__adress{
}


/* gray header */
.header__gray{
   min-height: 65px;
   width: 100%;

   background-color: #4c4c4c;
   color: white;

    /* flex C */
    justify-content: space-around;
    align-items: center;
}

.header__img{
    height: 35px;
    width: auto;
}
.header__h3{
    text-transform: uppercase;
   font-size: .8em;

    font-weight: 400;
}
   






.register{
   
    width: 100%;
     min-width: var(--minWidth);
    min-height: var(--minHeight);

    background-color: var(--registerBgc);
       /* flex C */
       justify-content: flex-start;
    transition: .2s;
}
.register__main{
    background-color: white;
    box-shadow: var(--registerBoxShadow);

    box-sizing: border-box;
    width: var(--registerMainWidth);
    height: var(--registerMainHeight);

    margin: var(--registerMainMarginT) var(--registerMainMarginR) var(--registerMainMarginB) var(--registerMainMarginL);
    border: var(--registerMainBorder);
    justify-self: center;

}
.register__section{
/* overflow: hidden; */
/* padding-bottom: 1%; */
    
}
.register__h2{
    white-space: nowrap;
    width: var(--registerH2Width);
    padding: 5px 0px;
    border-bottom: 1px solid #d7c07d;


    margin-right: auto;
    margin-bottom:15px;

}

.register__input{
    padding: 10px;
}











/* main form */

.form__button{
    text-transform: uppercase;
    /* width: 100%; */
}
.form__button--back{
    font-size: .8em;
    margin-top: 15px;
    align-self: flex-start;
}

/* progress */
.progress{
    width: auto;
    margin-top: 2%;
    margin-bottom: 3%;
    overflow: hidden;

}
.progress__bar{
    position: relative;
    width: 5vw;
    height: 3px;
    background-color: #dbdbdb;
    /* active */
}
.progress__bar--active{
    background-color:  #97cb5d;
    animation: barMove forwards .3s;

}
@keyframes barMove{
    0%{
        transform:translateX(-100%);
    }
    100%{
transform:translateX(0%);
    }
}
.progress__img{
    max-height: var(--progressSize);
    z-index: 1;
}


