.displayMobile{
    display: none;
}
.displayNone{
    display: none;
}

@media only screen and (min-width: 768px) {
    :root{  
    --registerH2Width: 360px;

        /* progress */
        --progressSize: 45px;

        /* first form */

        --inputSearchGrow: 0;
     /* thirt form */
        --dateFullSelfAlign: flex-start;

    }
    .displayMobile{
        display: flex;
    }
    .header__profile{
        order:2;
    }
  }


