.type__wrapper{
    justify-content: flex-start;
    flex-wrap: wrap;
}
.register__input--search{
    height: 40px;
    width: 200px;
    flex-grow: var(--inputSearchGrow);
    border: 2px solid #c4c4cc;
    border-radius: 5px;

    margin:15px 0px;
    margin-left: auto;
    
    
    

    background-image: url("/public/img/ico--search--small.png");
    background-repeat: no-repeat;

    background-position: 99% center;
}


.type__container{

}


.type__label{
    position: relative;
    /* width: auto; */
    text-transform: uppercase;

    /* display: block; */
    margin: 5px 0;
    padding-right: 18px;

}
.type__label::after{
    content: "";
    position: absolute;
    right:0;
    top:100%;
    height: 18px;
    width: 9px;
    transform: translate(-50%,-100%) rotate(-90deg);

    /* transform: translateY(-50%); */

    background-image: url("/avangarde/public/img/arrow--black--small.png");
    /* background-color: #000; */
}


.type__radio{
    position:absolute;

    opacity: 0;
    background-color: #000;
}

.type__radio:checked~.type__content{
    transition: .2s linear;

    max-height: 100vh;
}
.type__radio:checked~.type__label::after{
    transform: translate(-50%,-100%) rotate(90deg);
}


.type__content{
    max-height: 0;

    overflow: hidden;
    transition: 0s linear;
    margin: 10px 0;
    transition: .2s;


}
.type__table{
    width: 100%;
    background-color: #f3f3f3;
    
}
.type__a:hover{
   border: solid 2px  #c42776;
}

.type__a{
   border: solid 2px  transparent;

    justify-content: space-between;

}