
:root{
    --minHeight: 100vh;
    --minWidth: 320px;
    --wrapperWidth: 90%;

    /* progress */
    --progressSize: 35px;

}
body{
    font-size:15px;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    /* reset */
    text-decoration: none;
    color:inherit;
   
}
a:active{
    color:inherit;

}
.a{    
    /* my */
    display: block;
    color:inherit;
}
.img{
    height: 100%;
}
.flexColumn{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}
.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: var(--wrapperWidth);
}
